.BlogContainer {
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-items: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .BlogContainer {
      padding-left: 20px;
    }
}

.whiteHeading {
    color: #ffff;
    font-size: 30px;
    text-align: center;
    margin: 0;
}