.GridContainer {
  display: flex;
  flex-flow: row wrap;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo text";
  justify-items: center;
  align-items: center;
}

.blueLandingContainer {
  background-color: #233349;
  padding-bottom: 25px;
}

.adviceLandingContainer {
  display: grid;
  grid-template-rows: 1fr 1 fr;
  padding: 0 0 25px 0;
}

.ImageContainer {
  grid-area: logo;
  max-width: 50%;
}

.ImageContainerText {
  grid-area: text;
}

.ImageContainer img,
.ImageContainerText img {
  max-width: 100%;
  height: auto;
}

.centerContainer {
  display: grid;
  width: auto;
  justify-items: center;
}
