.GridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "logo text";
    justify-items: center; 
    align-items: center; 
  }
  
  .skillLandingContainer {
    background-color: #233349;
}
  
  .ImageContainer {
    grid-area: logo;
    max-width: 50%;
  }
  
  .ImageContainerText {
    grid-area: text;
  }
  
  .ImageContainer img,
  .ImageContainerText img {
    max-width: 100%;
    height: auto;
  }
  
  
  