.GridContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.soundContainer {
  display: flex;
  justify-content: center;
}

.blueLandingContainer {
  background-color: #233349;
  padding-bottom: 25px;
}

.textDeco {
  text-decoration: none;
}

.skillButtonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.adviceLandingContainer {
  display: grid;
  grid-template-rows: 1fr 1 fr;
  padding: 0 0 25px 0;
}

.ImageContainer {
  min-width: 100px;
  max-width: 300px;
  padding-left: 150px;
}

.ImageContainerText {
  min-width: 280px;
  max-width: 600px;
  padding-left: 200px;
}

@media (max-width: 1100px) {
  .ImageContainerText {
    padding-left: 2px;
  } 
  .ImageContainer {
    padding-left: 2px;
  }
}

@media (max-width: 769px) {
  .GridContainer {
    max-width: 90%;
    margin: 0 auto;
  }
}

.ImageContainer img,
.ImageContainerText img {
  max-width: 100%;
  height: auto;
}

.centerContainer {
  display: grid;
  width: auto;
  justify-items: center;
}
