.navbar {
  width: 100%;
  height: 60px;
  background-color: #233349;
  display: flex;
  flex-direction: row;
  font-family: "Quicksand", sans-serif;
}

.navbar .logoNav {
  margin: 10px 0 0 20px;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.navbar .leftSide img {
  width: 7% ;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
}

 .navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  margin: 5px;
}

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }



  .hiddenLinks {
    display: none;
  }


