.SkillContainer {
        display: grid;
        grid-template-columns: repeat(6, minmax(150px, 1fr));
        grid-template-rows: repeat(3, minmax(50px, 1fr));
        padding: 5px;
      }
      
      @media (max-width: 768px) {
        .SkillContainer {
            grid-template-columns: repeat(3, minmax(150px, 1fr));
            grid-template-rows: repeat(6, minmax(50px, 1fr));
        }
      }
.whiteHeading {
    color: #ffff;
    font-size: 30px;
    text-align: center;
    margin: 0;
}
      
