.SkillContainer {
  display: grid;
  grid-template-columns: repeat(6, minmax(120px, 1fr));
  grid-template-rows: repeat(3, minmax(30px, 1fr));
  padding: 5px;
}

@media (max-width: 768px) {
  .SkillContainer {
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(6, minmax(30px, 1fr));
  }
}
.whiteHeading {
  color: #ffff;
  font-size: 30px;
  text-align: center;
  margin: 0;
}
