.SkillContainer {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        padding: 20px;
      }

.whiteHeading {
    color: #ffff;
    font-size: 30px;
    text-align: center;
    margin: 0;
}
      
