.blueBody {
    background-color: #233349;
}

.whiteLandingContainer {
  background-color: #fcf9da;
  width: auto;
}

.img {
  width: 80%;
  height: 100%;
}

.imgContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 10px;
  padding: 20px;
  width: auto;
  height: 100%;
}

@media (max-width: 768px) {
  .imgContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
  }
  .img {
    width: 35%;
  }
  h2 {
    margin: 10px;
  }
}

.skillCardContainer {
  display: flex;
}




